{%- style -%}
  .custom-announcement-bar__{{ section.id }} {
    background-color: {{ section.settings.announcement_background }};
    color: {{ section.settings.text_color }};
    padding: 10px 20px;
    text-align: center;
  }

  .custom-announcement-bar__{{ section.id }} .announcement-bar__message {
    color: {{ section.settings.text_color }};
  }

  .announcement-bar__link {
    cursor: pointer;
    text-decoration: none;
  }

  .custom-announcement-bar {
    display: flex;
    align-items: center;
    position: relative;
  }

  .announcement-bar__message {
    display: block;
    width: 100%;
    font-size: 90%;
    text-transform: uppercase;
    text-align: center;
  }

  .custom-announcement-bar.hidden {
    display: none;
  }

  .custom-announcement-bar .close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    color: #ffffff;
  }

  .custom-announcement-bar .close svg {
    width: 3rem;
    height: 3rem;
  }
{%- endstyle -%}

{%- if section.settings.text != blank -%}
  <div
    id="custom-announcement-bar"
    class="custom-announcement-bar__{{ section.id }} custom-announcement-bar"
    role="region"
    aria-label="custom-announcement-bar"
  >
    {%- if section.settings.text != blank -%}
      {%- if section.settings.link != blank -%}
        <a
          href="{{ section.settings.link }}"
          class="announcement-bar__link link link--text focus-inset"
        >
      {%- endif -%}
      <p class="announcement-bar__message h5">
        <span>{{ section.settings.text | escape }}</span>
      </p>
      {%- if section.settings.link != blank -%}
        </a>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endif -%}

{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {
    function addCloseButton() {
      const announcementBar = document.getElementById('custom-announcement-bar');
      if (!announcementBar) return;

      const closeButton = document.createElement('button');
      closeButton.innerHTML = `
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      `;
      closeButton.setAttribute('type', 'button');
      closeButton.setAttribute('aria-label', 'close-button');
      closeButton.classList.add('close');

      closeButton.addEventListener('click', (e) => {
        e.preventDefault();
        announcementBar.classList.add('hidden');
        window.localStorage.setItem('is-announcement-bar-hidden', true);
      });

      announcementBar.appendChild(closeButton);

      if (window.localStorage.getItem('is-announcement-bar-hidden')) {
        closeButton.click();
      }
    }
    addCloseButton();
  });
{% endjavascript %}

{% schema %}
{
  "name": "Custom announcement bar",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color",
      "id": "announcement_background",
      "label": "Announcement background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Welcome to our store",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "URL"
    }
  ],
  "presets": [
    {
      "name": "Custom announcement bar"
    }
  ]
}
{% endschema %}
