{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .carousel-primary {
    justify-content: space-around;
    animation: scroll-horizontal {{ section.settings.scrolling_speed }}s linear infinite;
  }

  .carousel-secondary {
    animation: scroll-horizontal {{ section.settings.scrolling_speed }}s linear infinite;
    animation-delay: {{ section.settings.scrolling_speed | divided_by: 2 }}s;
  }

  ul, li {
    list-style: none;
  }

  a, .link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .marquee-inner {
    width: 100%;
    white-space: nowrap;
    position: relative;
    min-height: 100px;
  }

  .flex-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .marquee-list-item-link,
  .marquee-list-item {
    gap: 6px;
  }

  .carousel-primary,
  .carousel-secondary {
    position: absolute;
    left: 100%;
    width: 100%;
    height: auto;
    white-space: nowrap;
  }

  .carousel-primary {
    justify-content: space-around;
  }

  .carousel-primary.disabled_scroll_on_hover:hover,
  .carousel-primary.disabled_scroll_on_hover:hover~.carousel-secondary {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  .carousel-secondary.disabled_scroll_on_hover:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }


  .marquee-inner:hover>.carousel-primary.disabled_scroll_on_hover:not(:hover) {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  .marquee-list-item_image {
    height: 80px;
  }

  @keyframes scroll-horizontal {
    0% {
      left: 100%;
    }

    100% {
      left: -100%;
    }
  }
{% endstyle %}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  <div class="marquee-banner">
    <div class="marquee-inner flex-row" role="marquee">
      <ul class="marquee-list flex-row carousel-primary {% if section.settings.disabled_scroll %}disabled_scroll_on_hover{% endif %}">
        {% for block in section.blocks %}
          <li class="marquee-list-item flex-row" id="Slide-{{ forloop.index }}">
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}

              {%- when 'text' -%}
                {% if block.settings.text_link != blank %}
                  <a
                    href="{{ block.settings.text_link }}"
                    target="_blank"
                    class="marquee-list-item-link flex-row link link--text focus-inset"
                  >
                {% endif %}
                <span
                  class="marquee-list-item marquee-list-item_label"
                  style="color: {{ block.settings.text_color }};"
                >
                  {{ block.settings.text }}
                </span>
                {% if block.settings.text_link != blank %}
                  </a>
                {% endif %}

              {%- when 'image' -%}
                {% if block.settings.image_link != blank %}
                  <a
                    href="{{ block.settings.image_link }}"
                    target="_blank"
                    class="marquee-list-item-link flex-row link link--text focus-inset"
                  >
                {% endif %}
                {% if block.settings.image != blank %}
                  {%- assign image_alt = block.settings.image.alt | escape -%}
                  {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: block.settings.image_width
                    | image_tag:
                      sizes: sizes,
                      widths: '165, 360, 535, 750, 1070, 1500',
                      class: 'marquee-list-item marquee-list-item_image',
                      alt: image_alt,
                      preload: true
                  }}
                {% else %}
                  {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {% endif %}
                {% if block.settings.image_link != blank %}
                  </a>
                {% endif %}

              {%- when 'icon_with_text' -%}
                {% if block.settings.icon_with_text_link != blank %}
                  <a
                    href="{{ block.settings.icon_with_text_link }}"
                    target="_blank"
                    class="marquee-list-item-link flex-row link link--text focus-inset"
                  >
                {% endif %}
                {%- if block.settings.icon != null -%}
                  {%- assign image_alt = block.settings.icon.alt | escape -%}
                  {{
                    block.settings.icon
                    | image_url: width: 40
                    | image_tag: class: 'marquee-list-item marquee-list-item_icon', alt: image_alt, preload: true
                  }}
                {%- endif -%}
                <span
                  class="marquee-list-item marquee-list-item_label"
                  style="color: {{ block.settings.icon_text_color }};"
                >
                  {{ block.settings.icon_with_text_text }}
                </span>
                {% if block.settings.icon_with_text_link != blank %}
                  </a>
                {% endif %}
            {%- endcase -%}
          </li>
        {% endfor %}
      </ul>
      <ul class="marquee-list flex-row carousel-primary carousel-secondary {% if section.settings.disabled_scroll %}disabled_scroll_on_hover{% endif %}">
        {% for block in section.blocks %}
          <li class="marquee-list-item flex-row" id="Slide-{{ forloop.index }}">
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}

              {%- when 'text' -%}
                {% if block.settings.text_link != blank %}
                  <a
                    href="{{ block.settings.text_link }}"
                    target="_blank"
                    class="marquee-list-item-link flex-row link link--text focus-inset"
                  >
                {% endif %}
                <span
                  class="marquee-list-item marquee-list-item_label"
                  style="color: {{ block.settings.text_color }};"
                >
                  {{ block.settings.text }}
                </span>
                {% if block.settings.text_link != blank %}
                  </a>
                {% endif %}

              {%- when 'image' -%}
                {% if block.settings.image_link != blank %}
                  <a
                    href="{{ block.settings.image_link }}"
                    target="_blank"
                    class="marquee-list-item-link flex-row link link--text focus-inset"
                  >
                {% endif %}
                {% if block.settings.image != blank %}
                  {%- assign image_alt = block.settings.image.alt | escape -%}
                  {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}
                  {{
                    block.settings.image
                    | image_url: width: block.settings.image_width
                    | image_tag:
                      sizes: sizes,
                      widths: '165, 360, 535, 750, 1070, 1500',
                      class: 'marquee-list-item marquee-list-item_image',
                      alt: image_alt,
                      preload: true
                  }}
                {% else %}
                  {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {% endif %}
                {% if block.settings.image_link != blank %}
                  </a>
                {% endif %}

              {%- when 'icon_with_text' -%}
                {% if block.settings.icon_with_text_link != blank %}
                  <a
                    href="{{ block.settings.icon_with_text_link }}"
                    target="_blank"
                    class="marquee-list-item-link flex-row link link--text focus-inset"
                  >
                {% endif %}
                {%- if block.settings.icon != null -%}
                  {%- assign image_alt = block.settings.icon.alt | escape -%}
                  {{
                    block.settings.icon
                    | image_url: width: 40
                    | image_tag: class: 'marquee-list-item marquee-list-item_icon', alt: image_alt, preload: true
                  }}
                {%- endif -%}
                <span
                  class="marquee-list-item marquee-list-item_label"
                  style="color: {{ block.settings.icon_text_color }};"
                >
                  {{ block.settings.icon_with_text_text }}
                </span>
                {% if block.settings.icon_with_text_link != blank %}
                  </a>
                {% endif %}
            {%- endcase -%}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Marquee banner",
  "max_blocks": 24,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "scrolling_speed",
      "min": 10,
      "max": 30,
      "step": 10,
      "unit": "s",
      "label": "Scrolling speed",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "disabled_scroll",
      "default": true,
      "label": "Disable scrolling effect on hover"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 120,
          "max": 200,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 120
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#121212"
        },
        {
          "type": "url",
          "id": "text_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "icon_with_text",
      "name": "Icon with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "icon_with_text_text",
          "default": "Text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "icon_text_color",
          "label": "Text color",
          "default": "#121212"
        },
        {
          "type": "url",
          "id": "icon_with_text_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee banner",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "image"
        },
        {
          "type": "icon_with_text"
        }
      ]
    }
  ]
}
{% endschema %}
